---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Variables to modify font folders
$fa-font-path:        "/fonts/font-awesome";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "font-awesome/font-awesome";
@import "mdb/mdb";
@import "bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto');
