a:hover{
  text-decoration: none;
}

.page-title{
  padding-top: 20px;
  color: #e62b1e;
  font-weight: bold;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.profile {
  padding: 20px;
  max-width: 80%;
  text-align: center;
}

.about-cards {
  padding-bottom: 40px;
}

.team-name {
  text-align: center !important;
  padding-top: 20px !important;
}

.team-profile-image {
  width: 100%;
  max-height: 180px;
  overflow: hidden;
  float: none;
  padding: auto 0;
  display: inline-block;
}

.team-profile-name {
  text-align: center;
  font-weight: 400;
}

.team-profile-position {
  text-align: center;
  font-size: 0.9em;
  text-justify: auto;
  justify-content: inter-word;
}

.team-profile-bio {
  text-align: center;
}

.about-iframe {
  width: 100%;
  height: 350px;
  text-align: center;
  padding: 20px;
}

#2015-youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
#2015-youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.speaker-profile img{
  border-radius: 50%;
  border:4px solid;
  margin-left: 22%;
  margin-bottom: 10px;
}

.speaker-profile {
  padding-bottom: 40px;
}

#site-footer footer {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#site-logo img{
  max-height: 3em;
  padding-bottom: 5px;
}

@media (max-width: 999px){
  .speaker-profile img{
    border-radius: 50%;
    border:4px solid;
    margin-left: 28%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px){
  #site-logo img{
    max-height: 2.2em;
  }

  #2015-youtube {
    text-align: center;
    width: 400px;
    height: 280px;
  }

  h1{
    font-size: 2em;
  }
}

#twitter {
  background-color: #55acee
}

#facebook {
  background-color: #3b5998
}

#instagram {
  background-color: #2e5e86
}

.contact-buttons {
  width: 250px;
}

#contact-form {
  padding-left: 40px;
  padding-right: 40px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
