.page-title{
  padding-top: 20px;
  color: #e62b1e;
  font-weight: bold;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.map iframe {
  width: 100%;
  height: 350px;
  text-align: center;
  padding: 20px 0 0 20px;
}

#site-footer footer {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

#site-logo img{
  max-height: 3em;
  padding-bottom: 5px;
}

@media (max-width: 480px){
  #site-logo img{
    max-height: 2.2em;
  }
}

#twitter {
  background-color: #55acee
}

#facebook {
  background-color: #3b5998
}

#instagram {
  background-color: #2e5e86
}

.contact-buttons {
  width: 250px;
}

#contact-form {
  padding-left: 40px;
  padding-right: 40px;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
