---
layout: page
title: The Team
permalink: /about-2018
---

<div class="container text-center">
  <h1 class="page-title">The Team</h1>
</div>
<style>
  .photo-caption {
    color: white;
    /* color: #e62b1e; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
</style>

<!--Carousel Wrapper-->
<div id="team-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#team-carousel" data-slide-to="1"></li>
    <li data-target="#team-carousel" data-slide-to="2"></li>
    <li data-target="#team-carousel" data-slide-to="3"></li>
    <li data-target="#team-carousel" data-slide-to="4"></li>
    <li data-target="#team-carousel" data-slide-to="5"></li>
    <li data-target="#team-carousel" data-slide-to="6"></li>
    <li data-target="#team-carousel" data-slide-to="7"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="view">
        <a href="#curation-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/curators-min.png"
            alt="First slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Curation Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#design-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/design-min.png"
            alt="Second slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Design Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#event-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/event-management-min.png"
            alt="Third slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Event Management Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#logistics-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/logistics-min.png"
            alt="Fourth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Logistics Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#marketing-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/media-min.png"
            alt="Fifth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Media Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#marketing-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/pr-marketing-branding-min.png"
            alt="Sixth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Marketing and Branding Team
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#secretarial-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/secretarial-min.png"
            alt="Seventh slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Secretarial Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#sponsorship-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/sponsorship-min.png"
            alt="Eight slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Sponsorship Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#treasury-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/treasury-min.png"
            alt="Ninth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Treasury Team</h4>
      </div>
    </div>

  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#team-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#team-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<style>
  .card {
    /* max-width: 50%; */
    margin: 20px auto;
  }

  .role-btn {
    color: #CC0000;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
  }
</style>

<div class="container" style="padding: 20px 0 20px 0;">

  <div id="hod-team">
    <div class="container text-center">
      <h1 class="page-title">Head of Departments</h1>
    </div>
    <div class="row" id="hod-cards">
      <div class="col-md"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/shazmone.jpg" alt="Shazmone">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Shazmone</strong><br><em>President</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/azrul.jpg" alt="Azrul">
          <div class="card-body">
            <h1 class="card-text"><strong>Azrul Imanfaiss</strong><br><em>Vice President</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
    <div class="row" id="hod-cards">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/szeyee.jpg" alt="Sze Yee">
          <div class="card-body">
            <h1 class="card-text"><strong>Oon Sze Yee</strong><br><em>Sponsorship Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/meixuan.jpg" alt="Mei Xuan">
          <div class="card-body">
            <h1 class="card-text"><strong>Chai Mei Xuan</strong><br><em>Event Manager</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/celene.jpg" alt="Celene">
          <div class="card-body">
            <h1 class="card-text"><strong>Celene Yeong Yu Qing</strong><br><em>Secretary</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/keanhung.jpg" alt="Kean Hung">
          <div class="card-body">
            <h1 class="card-text"><strong>Leong Kean Hung</strong><br><em>Treasurer</em></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/jacquelyn.jpg" alt="Jacquelyn">
          <div class="card-body">
            <h1 class="card-text"><strong>Jacquelyn Ting Chiew Ling</strong><br><em>Marketing and Branding Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/weilun.jpg" alt="Wei Lun">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Wei Lun</strong><br><em>Design Lead</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/sandra.jpg" alt="Sandra">
          <div class="card-body">
            <h1 class="card-text"><strong>Sandra Boey Wei Ling</strong><br><em>Logistics Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/eric.jpg" alt="Eric">
          <div class="card-body">
            <h1 class="card-text"><strong>Ngu Chee Hong</strong><br><em>Web Developer</em></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="curation-team">
    <div class="container text-center">
      <h1 class="page-title">Curation Team</h1>
      <div id="curation-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#curation-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="curation-description">
        <div class="mt-3">
          <ul>
            <li>Find speakers with good ideas.</li>
            <li>Communicate with the speakers(s) on the TEDx rules and regulations, and details of the event.</li>
            <li>Find interesting TED videos for the event.</li>
            <li>Plan the theme of the main event.</li>
            <li>Plan for the itinerary of the event.</li>
            <li>Conduct rehearsal with the speaker(s).</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="curation-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/vaishu.jpg" alt="Vaishu">
          <div class="card-body">
            <h1 class="card-text"><strong>Vashneevy Kumaresan</strong><br><em>Curator</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/laxmin.jpg" alt="Laxmin">
          <div class="card-body">
            <h1 class="card-text"><strong>Laxminpal a/p Ganapathy</strong><br><em>Curator</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="design-team">
    <div class="container text-center">
      <h1 class="page-title">Design Team</h1>
      <div id="design-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#design-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="design-description">
        <div class="mt-3">
          <ul>
            <li>Liaise with Public Relations for design elements.</li>
            <li>Liaise with Curators to ensure design adheres to event theme.</li>
            <li>Design and create promotional materials for events and activities.</li>
            <li>Must be able to work with design software (e.g. Adobe Photoshop, Adobe Illustrator and etc.).</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="design-cards">
      <div class="col-md-2"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/weilun.jpg" alt="Wei Lun">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Wei Lun</strong><br><em>Design Lead</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/kim.jpg" alt="Kim">
          <div class="card-body">
            <h1 class="card-text"><strong>Kimberley Tan Hui Ru</strong><br><em>Design Executive</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/celine.jpg" alt="Celine">
          <div class="card-body">
            <h1 class="card-text"><strong>Celine Tay Chuan Mei</strong><br><em>Design Executive</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div id="event-team">
    <div class="container text-center">
      <h1 class="page-title">Event Management Team</h1>
      <div id="event-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#event-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="event-description">
        <div class="mt-3">
          <ul>
            <li>Organises event flow.</li>
            <li>Decorate stage and lobby.</li>
            <li>Come up with schedules for booth events.</li>
            <li>Floor layout plan, agenda plan, order food and drinks.</li>
            <li>Set up microphone for speakers and manage video recordings.</li>
            <li>Placement of VIP, speakers seats, camera and computers during events.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="event-cards">
      <div class="col-md-2"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/meixuan.jpg" alt="MeiXuan">
          <div class="card-body">
            <h1 class="card-text"><strong>Chai Mei Xuan</strong><br><em>Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/phoebe.jpg" alt="Phoebe">
          <div class="card-body">
            <h1 class="card-text"><strong>Phoebe Kong Yi Hui</strong><br><em>Assistant Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/kenji.jpg" alt="Kenji">
          <div class="card-body">
            <h1 class="card-text"><strong>Sam Ken-Ji</strong><br><em>Assistant Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div id="logistics-team">
    <div class="container text-center">
      <h1 class="page-title">Logistics Team</h1>
      <div id="logistics-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#logistics-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="logistics-description">
        <div class="mt-3">
          <ul>
            <li>Custodian of store room.</li>
            <li>Help out in booth opening and closing.</li>
            <li>Booking venues for events and meetings.</li>
            <li>Assist Event Management team during events.</li>
            <li>Take buntings and banners from Student LIFE.</li>
            <li>Liaise with Facilities department for borrowing any equipments.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="logistics-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/sandra.jpg" alt="Sandra">
          <div class="card-body">
            <h1 class="card-text"><strong>Sandra Boey Wei Ling</strong><br><em>Logistics Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/daryvind.jpg" alt="Daryvind">
          <div class="card-body">
            <h1 class="card-text"><strong>Daryvind Kurup</strong><br><em>Logistics Executive</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="marketing-team">
    <div class="container text-center">
      <h1 class="page-title">Marketing and Branding Team</h1>
      <div id="marketing-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#marketing-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="marketing-description">
        <div class="mt-3">
          <ul>
            <li>Create awareness among students.</li>
            <li>Reply messages on all social media.</li>
            <li>Maintain the club's image as one with high standards.</li>
            <li>Promote all events via social media, class promotion and booth.</li>
            <li>Post up posters, videos, pictures on Facebook and every other social media.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="marketing-cards">
      <div class="col-md"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jacquelyn.jpg" alt="Jacquelyn">
          <div class="card-body">
            <h1 class="card-text"><strong>Jacquelyn Ting Chiew Ling</strong><br><em>Director of Marketing and Branding</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/simran.jpg" alt="Simran">
          <div class="card-body">
            <h1 class="card-text"><strong>Harsimranpreet Kaur</strong><br><em>Marketing and Branding Executive, Public
                Relations</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/phyllis.jpg" alt="Phyllis">
          <div class="card-body">
            <h1 class="card-text"><strong>Choong Hui Ming</strong><br><em>Marketing and Branding Executive, Public
                Relations</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
      <div class="row" id="marketing-cards">
        <div class="col-md"></div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/john.jpg" alt="John">
            <div class="card-body">
              <h1 class="card-text"><strong>John Lee Yue Han</strong><br><em>Marketing and Branding Executive, Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/damia.jpg" alt="Damia">
            <div class="card-body">
              <h1 class="card-text"><strong>Damia Nabila binti Adnan</strong><br><em>Marketing and Branding Executive,
                  Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/mardia.jpg" alt="Mardia">
            <div class="card-body">
              <h1 class="card-text"><strong>Mardia Nor Marsha</strong><br><em>Marketing and Branding Executive, Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md"></div>
      </div>
    </div>
  </div>

  <div id="secretarial-team">
    <div class="container text-center" id="secretarial-team">
      <h1 class="page-title">Secretarial Team</h1>
      <div id="secretarial-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#secretarial-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="secretarial-description">
        <div class="mt-3">
          <ul>
            <li>Write and submit event proposals.</li>
            <li>Write and compile meeting minutes.</li>
            <li>Update members’ database in terms of attendance.</li>
            <li>Seek updates from departments on their progress.</li>
            <li>Manage Google Drive database effectively and efficiently.</li>
            <li>Keep track of Google Form/Spreadsheet responses and edits.</li>
            <li>Announce to the group about meeting confirmed date, time and venue.</li>
            <li>Assist Presidents in informing departments to achieve tasks before/by deadline.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="secretarial-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/celene.jpg" alt="Celene">
          <div class="card-body">
            <h1 class="card-text"><strong>Celene Yeong Yu Qing</strong><br><em>Secretary</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/roshnee.jpg" alt="Roshnee">
          <div class="card-body">
            <h1 class="card-text"><strong>Roshnee Jayakumar</strong><br><em>Assistant Secretary</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="developer-team">
    <div class="container text-center">
      <h1 class="page-title">Web Developer Team</h1>
      <div id="developer-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#developer-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="developer-description">
        <div class="mt-3">
          <ul>
            <li>Maintain and upkeep website.</li>
            <li>Ensure competency in IT softwares.</li>
            <li>Assist other committees on technical issues. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="developer-cards">
      <div class="col-md"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/eric.jpg" alt="Eric">
          <div class="card-body">
            <h1 class="card-text"><strong>Ngu Chee Hong</strong><br><em>Web Developer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

  <div id="sponsorship-team">
    <div class="container text-center">
      <h1 class="page-title">Sponsorship Team</h1>
      <div id="sponsorship-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#sponsorship-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="sponsorship-description">
        <div class="mt-3">
          <ul>
            <li>Raise funds.</li>
            <li>Goodie bag handling.</li>
            <li>Look for sponsors for events.</li>
            <li>Get sponsors in terms of goods or vouchers.</li>
            <li>Maintain good relationship with current partners.</li>
            <li>Update partners (show them the booklets and etc if needed).</li>
            <li>Fulfil the promises that's already done between partners. (Booth, logos and etc).</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="sponsorship-cards">
      <div class="col-md-2"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/szeyee.jpg" alt="SzeYee">
          <div class="card-body">
            <h1 class="card-text"><strong>Oon Sze Yee</strong><br><em>Sponsorship Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/eason.jpg" alt="Eason">
          <div class="card-body">
            <h1 class="card-text"><strong>Hong Yee Xuen</strong><br><em>Assistant Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/seanwei.jpg" alt="Sean Wei">
          <div class="card-body">
            <h1 class="card-text"><strong>Lee Sean Wei</strong><br><em>Assistant Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div id="treasury-team">
    <div class="container text-center">
      <h1 class="page-title">Treasury Team</h1>
      <div id="treasury-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#treasury-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="treasury-description">
        <div class="mt-3">
          <ul>
            <li>Manage member fee.</li>
            <li>Manage claims form.</li>
            <li>Prepare financial statements.</li>
            <li>Handle money for club, main and monthly events.</li>
            <li>Liaise with Presidents and Sponsorship (to get fundings).</li>
            <li>Keep all merchandise stocks (ie button badges and t-shirts).</li>
            <li>Advice on financial status and necessities of every spending.</li>
            <li>Prepare physical opening closing sheet for booth and every event.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="treasury-cards">
      <div class="col-md"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/keanhung.jpg" alt="Kean Hung">
          <div class="card-body">
            <h1 class="card-text"><strong>Leong Kean Hung</strong><br><em>Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jingxin.jpg" alt="Jing Xin">
          <div class="card-body">
            <h1 class="card-text"><strong>Lim Jing Xin</strong><br><em>Assistant Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jazz.jpg" alt="Jazz">
          <div class="card-body">
            <h1 class="card-text"><strong>Jazz Chong Wen Hui</strong><br><em>Assistant Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

</div>
