<footer class="page-footer font-small red pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="mb-4 flex-center py-1">

          <a href="{{ site.location }}" target="_blank">
            <i class="fa fa-map-marker fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
          </a>

          <a href="mailto:{{ site.email }}" target="_blank">
            <i class="fa fa-envelope-o fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
          </a>

          <a href="http://twitter.com/{{ site.twitter }}" target="_blank">
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
          </a>

          <a href="http://instagram.com/{{ site.instagram }}" target="_blank">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
          </a>

          <a href="http://facebook.com/{{ site.facebook }}" target="_blank">
            <i class="fa fa-facebook-official fa-lg white-text mr-md-5 mr-3 fa-2x" aria-hidden="true"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-1">
    &copy; {{ site.time | date: '%Y' }}
    <a href="/about.html">
      {{ site.owner }}
    </a>
  </div>
</footer>
