{% if page.imagefeature %}
        <main id="notepad-post-container" class="notepad-post-container intro-effect-sliced" role="main">
            <header class="notepad-post-header">
                <div class="bg-img"></div>

                <div class="notepad-post-menu-header">
{% else %}
        <main id="notepad-post-container-simple" class="notepad-post-container-simple" role="main">
            <header class="notepad-post-header-simple">
                <div class="notepad-post-menu-header-simple">
{% endif %}
