<style>
  #ie-warning {
    display:none;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #ie-warning {
      display:inherit;
    }
  }
</style>

<header class="site-header">

  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id="site-logo" href="{{ site.url }}">
      <img src="{{ site.logo }}" alt="TEDxSunwayUniversity Logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="ie-warning">Please use a different browser for best experience. <a href="https://www.mozilla.org/en-US/firefox/new/">Get
        Firefox here</a>.</div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <a class="dropdown-item" href="/events/2019.html">2019 - Awesome Event Coming Up!</a> -->
            <a class="dropdown-item" href="/events/2017.html">2017 - Connecting the Disconnected</a>
            <a class="dropdown-item" href="/events/2016.html">2016 - Luminosity</a>
            <a class="dropdown-item" href="/events/2015.html">2015 - Beyond the Status Quo</a>
          </div>
        </li>

        <li class="nav-item">
          <!-- <a class="nav-link" href="/sponsors.html">Sponsors</a> -->
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about.html">The Team</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact.html">Contact Us</a>
        </li>

      </ul>
    </div>
  </nav>

</header>
