<style>
  .photo-caption {
    color: white;
    /* color: #e62b1e; */
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  }
</style>

<!--Carousel Wrapper-->
<div id="team-carousel" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#team-carousel" data-slide-to="1"></li>
    <li data-target="#team-carousel" data-slide-to="2"></li>
    <li data-target="#team-carousel" data-slide-to="3"></li>
    <li data-target="#team-carousel" data-slide-to="4"></li>
    <li data-target="#team-carousel" data-slide-to="5"></li>
    <li data-target="#team-carousel" data-slide-to="6"></li>
    <li data-target="#team-carousel" data-slide-to="7"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="view">
        <a href="#curation-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/curators-min.png"
            alt="First slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Curation Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#design-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/design-min.png"
            alt="Second slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Design Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#event-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/event-management-min.png"
            alt="Third slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Event Management Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#logistics-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/logistics-min.png"
            alt="Fourth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Logistics Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#pr-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/media-min.png"
            alt="Fifth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Media Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#pr-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/pr-marketing-branding-min.png"
            alt="Sixth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Marketing and Branding Team
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#secretarial-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/secretarial-min.png"
            alt="Seventh slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Secretarial Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#sponsorship-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/sponsorship-min.png"
            alt="Eight slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Sponsorship Team</h4>
      </div>
    </div>

    <div class="carousel-item">
      <div class="view">
        <a href="#treasury-team"><img class="d-block w-80" style="width: xpx; margin: 0 auto; max-width: 100%" src="/images/2018-committee/treasury-min.png"
            alt="Ninth slide"></a>
      </div>
      <div class="carousel-caption">
        <h4 class="h4-responsive photo-caption">Treasury Team</h4>
      </div>
    </div>

  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#team-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#team-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->
