<style>
  .card {
    margin-bottom: 20px;
    /* max-width: 50%; */
    margin: 0 auto;
  }
</style>

<div class="container" style="padding: 20px 0 20px 0;">

  <div class="container text-center" id="curation-team">
    <h1 class="page-title">Curation Team</h1>
    <p class="team-description">The Curation Team sources for and invites speakers for events, as well as to come up
      with the theme for events.</p>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top img-fluid" src="/images/2018-committee/members/vaishu.jpg" alt="Vaishu">
        <div class="card-body">
          <h1 class="card-text">Vaishu</h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/laxmin.jpg" alt="Laxmin">
        <div class="card-body">
          <p class="card-text">Lax</p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="container text-center" id="design-team">
    <h1 class="page-title">Design Team</h1>
    <p class="team-description">The Design Team creates designs for social media, flyers, banners, buntings, and other
      materials.</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/kim.jpg" alt="Kim">
        <div class="card-body">
          <p class="card-text">Kim</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/weilun.jpg" alt="Wei Lun">
        <div class="card-body">
          <p class="card-text">Wei Lun</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/celine.jpg" alt="Celine">
        <div class="card-body">
          <p class="card-text">Celine</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="container text-center" id="event-team">
    <h1 class="page-title">Event Management Team</h1>
    <p class="team-description">The Event Management Team comes up with event agendas and activities, as well as
      delegating and assigning tasks for committee members during events.</p>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/phoebe.jpg" alt="Phoebe">
        <div class="card-body">
          <p class="card-text">Phoebe</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/meixuan.jpg" alt="MeiXuan">
        <div class="card-body">
          <p class="card-text">Mei Xuan</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/kenji.jpg" alt="Kenji">
        <div class="card-body">
          <p class="card-text">Kenji</p>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="container text-center" id="logistics-team">
    <h1 class="page-title">Logistics Team</h1>
    <p class="team-description">The Logistics Team is in charge of booking event venues, liasing with Student LIFE and
      Facilities, and getting approval for marketing materials. The Team also provides help for moving and setting up
      of items on event day, as well as ensuring the safekeeping of the storeroom.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/sandra.jpg" alt="Sandra">
        <div class="card-body">
          <p class="card-text">BOEY</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/daryvind.jpg" alt="Daryvind">
        <div class="card-body">
          <p class="card-text">Daryvind</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="container text-center" id="media-team">
    <h1 class="page-title">Media Team</h1>
    <p class="team-description">The Media Team does media stuff.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/john.jpg" alt="John">
        <div class="card-body">
          <p class="card-text">John</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/damia.jpg" alt="Damia">
        <div class="card-body">
          <p class="card-text">Damia</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/mardia.jpg" alt="Mardia">
        <div class="card-body">
          <p class="card-text">Mardia</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="container text-center" id="pr-team">
    <h1 class="page-title">PR, Marketing, & Branding Team</h1>
    <p class="team-description">The PR, Marketing & Branding Team promotes events on social media, posts on social
      media to engage members, maintain the club's public image, as well as responding to any public queries.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/simran.jpg" alt="Simran">
        <div class="card-body">
          <p class="card-text">Simran</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/jacqueline.jpg" alt="Jacqueline">
        <div class="card-body">
          <p class="card-text">Jacqueline</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/phyllis.jpg" alt="Phyllis">
        <div class="card-body">
          <p class="card-text">Phyllis</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="container text-center" id="secretarial-team">
    <h1 class="page-title">Secretarial Team</h1>
    <p class="team-description">The Secretarial Team is in charge of sending emails to members, writing minutes,
      creating event registrations, as well as creating proposals for Sunway Student LIFE.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/celene.jpg" alt="Celene">
        <div class="card-body">
          <p class="card-text">Celene</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/roshnee.jpg" alt="Roshnee">
        <div class="card-body">
          <p class="card-text">Roshnee</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="container text-center" id="sponsorship-team">
    <h1 class="page-title">Sponsorship Team</h1>
    <p class="team-description">The Sponsorship Team looks for sponsors and partners for events.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/eason.jpg" alt="Eason">
        <div class="card-body">
          <p class="card-text">Eason</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/szeyee.jpg" alt="SzeYee">
        <div class="card-body">
          <p class="card-text">Sze Yee</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/seanwei.jpg" alt="Sean Wei">
        <div class="card-body">
          <p class="card-text">Sean Wei</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

  <div class="container text-center" id="treasury-team">
    <h1 class="page-title">Treasury Team</h1>
    <p class="team-description">The Treasury Team creates budgets for events, ensure the club's financial health, as
      well as to safekeep the club's funds.</p>
  </div>
  <div class="row">
    <div class="col-md"></div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/jingxin.jpg" alt="Jing Xin">
        <div class="card-body">
          <p class="card-text">Jing Xin</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/keanhung.jpg" alt="Kean Hung">
        <div class="card-body">
          <p class="card-text">Kean Hung</p>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <img class="card-img-top" src="/images/2018-committee/members/jazz.jpg" alt="Jazz">
        <div class="card-body">
          <p class="card-text">Jazz</p>
        </div>
      </div>
    </div>
    <div class="col-md"></div>
  </div>

</div>
