<style>
  .card {
    /* max-width: 50%; */
    margin: 20px auto;
  }

  .role-btn {
    color: #CC0000;
    margin-bottom: 20px;
  }

  ul {
    /* margin-left: -8%; */
    text-align: left;
    list-style-position: inside;
  }

  @media (max-width: 480px) {
    .card {
      max-width: 80%
    }

    ul {
      margin-left: -8%;
    }
  }
</style>

<div class="container" style="padding: 20px 0 20px 0;">

  <div id="hod-team">
    <div class="container text-center">
      <h1 class="page-title">Head of Departments</h1>
    </div>
    <div class="row" id="hod-cards">
      <div class="col-md"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/shazmone.jpg" alt="Shazmone">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Shazmone</strong><br><em>President</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/azrul.jpg" alt="Azrul">
          <div class="card-body">
            <h1 class="card-text"><strong>Azrul Imanfaiss</strong><br><em>Vice President</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
    <div class="row" id="hod-cards">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/szeyee.jpg" alt="Sze Yee">
          <div class="card-body">
            <h1 class="card-text"><strong>Oon Sze Yee</strong><br><em>Sponsorship Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/meixuan.jpg" alt="Mei Xuan">
          <div class="card-body">
            <h1 class="card-text"><strong>Chai Mei Xuan</strong><br><em>Event Manager</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/celene.jpg" alt="Celene">
          <div class="card-body">
            <h1 class="card-text"><strong>Celene Yeong Yu Qing</strong><br><em>Secretary</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/keanhung.jpg" alt="Kean Hung">
          <div class="card-body">
            <h1 class="card-text"><strong>Leong Kean Hung</strong><br><em>Treasurer</em></h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/jacquelyn.jpg" alt="Jacquelyn">
          <div class="card-body">
            <h1 class="card-text"><strong>Jacquelyn Ting Chiew Ling</strong><br><em>Public Relations Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/weilun.jpg" alt="Wei Lun">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Wei Lun</strong><br><em>Design Lead</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/sandra.jpg" alt="Sandra">
          <div class="card-body">
            <h1 class="card-text"><strong>Sandra Boey Wei Ling</strong><br><em>Logistics Director</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/eric.jpg" alt="Eric">
          <div class="card-body">
            <h1 class="card-text"><strong>Ngu Chee Hong</strong><br><em>Web Developer</em></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Presidential Team">
    <div class="container text-center">
      <h1 class="page-title">Presidential Team</h1>
      <div id="presidential-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#presidential-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="presidential-description">
        <div class="mt-3">
          <ul>
            <li>Divide and manage departments and ensure all departments achieve set goals.</li>
            <li>Person in direct contact with advisors most of the time.</li>
            <li>Able to make precise and considerate decisions aligned with TEDx & Sunway visions.</li>
            <li>Holds the highest responsibility in the name of TEDxSunwayUniversity Club</li>
            <li>Responsible for obtaining TEDx University and TEDx Salon license.</li>
            <li>Conduct post-event duties as mentioned on the TEDx <a href="https://www.ted.com/participate/organize-a-local-tedx-event/before-you-start/organizer-responsibilities">guidelines</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="presidential-cards">
      <div class="col-md-3"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/shazmone.jpg" alt="Shazmone">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Shazmone</strong><br><em>President</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/azrul.jpg" alt="Azrul">
          <div class="card-body">
            <h1 class="card-text"><strong>Azrul Imanfaiss</strong><br><em>Vice President</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="curation-team">
    <div class="container text-center">
      <h1 class="page-title">Curation Team</h1>
      <div id="curation-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#curation-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="curation-description">
        <div class="mt-3">
          <ul>
            <li>Responsible for researching, short listing speakers and identification and management of speakers as
              well as providing assistance during preparation stage.</li>
            <li>Brainstorm and propose brilliant ideas, not limited to T.E.D.</li>
            <li>Communicate with the speakers regarding the TEDx rules and regulations, and details of the event.</li>
            <li>Have discussion meetings with the speakers to craft out an “Idea Worth Spreading” and provide
              constructive feedback to improve their speech.</li>
            <li>Work closely with Vice President, Event Management and Public Relations team.</li>
            <li>Decide on the theme of the main event.</li>
            <li>Person in charge of coordinate speaker managers before, during and after the event.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="curation-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/2018-committee/members/vaishu.jpg" alt="Vaishu">
          <div class="card-body">
            <h1 class="card-text"><strong>Vashneevy Kumaresan</strong><br><em>Curator</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/laxmin.jpg" alt="Laxmin">
          <div class="card-body">
            <h1 class="card-text"><strong>Laxminpal a/p Ganapathy</strong><br><em>Curator</em></h1>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="design-team">
    <div class="container text-center">
      <h1 class="page-title">Design Team</h1>
      <div id="design-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#design-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="design-description">
        <div class="mt-3">
          <ul>
            <li>Design and create promotional materials for events and activities.</li>
            <li>Liaise with Public Relations for design elements.</li>
            <li>Liaise with Curators to ensure design adheres to event theme.</li>
            <li>Must be able to work with design software (e.g. Adobe Photoshop, Adobe Illustrator and etc.).</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="design-cards">
      <div class="col-md"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/weilun.jpg" alt="Wei Lun">
          <div class="card-body">
            <h1 class="card-text"><strong>Ng Wei Lun</strong><br><em>Design Lead</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/celine.jpg" alt="Celine">
          <div class="card-body">
            <h1 class="card-text"><strong>Celine Tay Chuan Mei</strong><br><em>Design Executive</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

  <div id="event-team">
    <div class="container text-center">
      <h1 class="page-title">Event Management Team</h1>
      <div id="event-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#event-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="event-description">
        <div class="mt-3">
          <ul>
            <li>Decide on the date, time, location, no.of participants.</li>
            <li>Come up with schedules for booth events.</li>
            <li>Floor layout plan, agenda plan, order food and drinks.</li>
            <li>Coordinate and Organises events flow.</li>
            <li>Placement of VIP, speakers seats, camera and computers during events.</li>
            <li>Distribute work during event day</li>
            <li>Plan for the itinerary of the event.</li>
            <li>Conduct rehearsal with the speaker(s).</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="event-cards">
      <div class="col-md"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/meixuan.jpg" alt="MeiXuan">
          <div class="card-body">
            <h1 class="card-text"><strong>Chai Mei Xuan</strong><br><em>Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/phoebe.jpg" alt="Phoebe">
          <div class="card-body">
            <h1 class="card-text"><strong>Phoebe Kong Yi Hui</strong><br><em>Assistant Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/kenji.jpg" alt="Kenji">
          <div class="card-body">
            <h1 class="card-text"><strong>Sam Ken-Ji</strong><br><em>Assistant Event Manager</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div id="logistics-team">
    <div class="container text-center">
      <h1 class="page-title">Logistics Team</h1>
      <div id="logistics-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#logistics-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="logistics-description">
        <div class="mt-3">
          <ul>
            <li>Liaise with the Facilities Services Department to book any venues for meetings / events or borrow any
              equipments (e.g. tables, chairs, signage stands, queue stands, microphones, clickers, portable stage,
              podium, etc).</li>
            <li>Liaise with Student LIFE for any banner, booth or venue bookings.</li>
            <li>Custodian of the Level 11 Store Room.</li>
            <li>Assist in setting up the booth and closing up the booth.</li>
            <li>Assist the Event Management team with the set up during events. </li>
            <li>More information <a href="https://www.ted.com/participate/organize-a-local-tedx-event/tedx-organizer-guide/venue-spaces">here</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="logistics-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/sandra.jpg" alt="Sandra">
          <div class="card-body">
            <h1 class="card-text"><strong>Sandra Boey Wei Ling</strong><br><em>Logistics Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/daryvind.jpg" alt="Daryvind">
          <div class="card-body">
            <h1 class="card-text"><strong>Daryvind Kurup</strong><br><em>Logistics Executive</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="marketing-team">
    <div class="container text-center">
      <h1 class="page-title">Public Relations Team</h1>
      <div id="marketing-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#marketing-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="marketing-description">
        <div class="mt-3">
          <ul>
            <li>Create awareness among students.</li>
            <li>Post up posters, videos, pictures on Facebook and every other social media. </li>
            <li>Reply messages on all social media.</li>
            <li>Promote all events via social media, class promotion and booth.</li>
            <li>Brand the club as a high standard club.</li>
            <li>Liaise with Design Team for design elements.</li>
            <li>Liaise with Student LIFE to put up physical posters around campus as well as digital posters up on the
              Student LIFE TV.</li>
            <li>Liaise with the IT Services Department to put up ITS pop-up messages on campus computers.</li>
            <li>Liaise with Branding to put up digital posters on the Sunway Campus TV (SCTV).</li>
            <li>More information <a href="https://www.ted.com/participate/organize-a-local-tedx-event/tedx-organizer-guide/branding-promotions/social-media">here</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="marketing-cards">
      <div class="col-md"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jacquelyn.jpg" alt="Jacquelyn">
          <div class="card-body">
            <h1 class="card-text"><strong>Jacquelyn Ting Chiew Ling</strong><br><em>Director of Public Relations</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/simran.jpg" alt="Simran">
          <div class="card-body">
            <h1 class="card-text"><strong>Harsimranpreet Kaur</strong><br><em>Executive, Public
                Relations</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/phyllis.jpg" alt="Phyllis">
          <div class="card-body">
            <h1 class="card-text"><strong>Choong Hui Ming</strong><br><em>Executive, Public
                Relations</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
      <div class="row" id="marketing-cards">
        <div class="col-md"></div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/john.jpg" alt="John">
            <div class="card-body">
              <h1 class="card-text"><strong>John Lee Yue Han</strong><br><em>Executive, Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/damia.jpg" alt="Damia">
            <div class="card-body">
              <h1 class="card-text"><strong>Damia Nabila binti Adnan</strong><br><em>Executive,
                  Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img class="card-img-top" src="/images/2018-committee/members/mardia.jpg" alt="Mardia">
            <div class="card-body">
              <h1 class="card-text"><strong>Mardia Nor Marsha</strong><br><em>Executive, Media</em></p>
            </div>
          </div>
        </div>
        <div class="col-md"></div>
      </div>
    </div>
  </div>

  <div id="secretarial-team">
    <div class="container text-center" id="secretarial-team">
      <h1 class="page-title">Secretarial Team</h1>
      <div id="secretarial-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#secretarial-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="secretarial-description">
        <div class="mt-3">
          <ul>
            <li>Write and compile minute meetings.</li>
            <li>Manage Google Drive database effectively and efficiently.</li>
            <li>Update members’ database in terms of attendance.</li>
            <li>Keep track of Google Form or Spreadsheet responses and edits</li>
            <li>Write and submit event proposals.</li>
            <li>Prepare post event review report.</li>
            <li>Announce to the group about meeting confirmed date, time and venue.</li>
            <li>Work closely with President and Vice President. </li>
            <li>Seek updates from departments on their progress.</li>
            <li>Communicate with members or deal with incoming inquiries via email platform.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="secretarial-cards">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/celene.jpg" alt="Celene">
          <div class="card-body">
            <h1 class="card-text"><strong>Celene Yeong Yu Qing</strong><br><em>Secretary</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/roshnee.jpg" alt="Roshnee">
          <div class="card-body">
            <h1 class="card-text"><strong>Roshnee Jayakumar</strong><br><em>Assistant Secretary</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

  <div id="developer-team">
    <div class="container text-center">
      <h1 class="page-title">Web Developer Team</h1>
      <div id="developer-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#developer-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="developer-description">
        <div class="mt-3">
          <ul>
            <li>Maintain and update website (including hosting & domain).</li>
            <li>Assist on pre-event e-ticketing setup, and other IT-related setup</li>
            <li>Assist on event technical setup (presentation slides, music, video, etc)</li>
            <li>Assist other committees on general technical issues. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="developer-cards">
      <div class="col-md"></div>
      <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/eric.jpg" alt="Eric">
          <div class="card-body">
            <h1 class="card-text"><strong>Ngu Chee Hong</strong><br><em>Web Developer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

  <div id="sponsorship-team">
    <div class="container text-center">
      <h1 class="page-title">Sponsorship Team</h1>
      <div id="sponsorship-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#sponsorship-description" aria-expanded="false"
          aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="sponsorship-description">
        <div class="mt-3">
          <ul>
            <li>Prepare sponsorship proposal.</li>
            <li>Look for monetary sponsorship and in-kind sponsorship.</li>
            <li>Goodie bag handling.</li>
            <li>Liaise with potential sponsors through various platforms such as emails, phone calls and physical
              meetings.</li>
            <li>Fulfil the promises that have already done between partners. (Booth, logos and etc).</li>
            <li>Update partners from time to time (show them the booklets and etc if needed).</li>
            <li>Maintain good relationship with current partners. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="sponsorship-cards">
      <div class="col-md-2"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/szeyee.jpg" alt="SzeYee">
          <div class="card-body">
            <h1 class="card-text"><strong>Oon Sze Yee</strong><br><em>Sponsorship Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/eason.jpg" alt="Eason">
          <div class="card-body">
            <h1 class="card-text"><strong>Hong Yee Xuen</strong><br><em>Assistant Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/seanwei.jpg" alt="Sean Wei">
          <div class="card-body">
            <h1 class="card-text"><strong>Lee Sean Wei</strong><br><em>Assistant Director</em></p>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <div id="treasury-team">
    <div class="container text-center">
      <h1 class="page-title">Treasury Team</h1>
      <div id="treasury-collapse">
        <a class="btn role-btn" data-toggle="collapse" href="#treasury-description" aria-expanded="false" aria-controls="collapseExample">
          Responsibilities
        </a>
      </div>
      <div class="collapse role-collapse" id="treasury-description">
        <div class="mt-3">
          <ul>
            <li>Handle money for club, main and monthly events. </li>
            <li>Keep the club funds P&C. </li>
            <li>Advice on financial status and necessities of every spending by preparing budgets of the upcoming
              events.</li>
            <li>Prepare financial statements every two months and let the president to oversee it.</li>
            <li>Liaise with Presidents and Sponsorship (to get fundings).</li>
            <li>Recording of all transactions.</li>
            <li>Manage member fee & claim form </li>
            <li>Tally the club funds every month. </li>
            <li>Prepare physical opening closing sheet for booth and every event. </li>
            <li>Keep all merchandise stocks (T-shirts). </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="treasury-cards">
      <div class="col-md"></div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/keanhung.jpg" alt="Kean Hung">
          <div class="card-body">
            <h1 class="card-text"><strong>Leong Kean Hung</strong><br><em>Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jingxin.jpg" alt="Jing Xin">
          <div class="card-body">
            <h1 class="card-text"><strong>Lim Jing Xin</strong><br><em>Assistant Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <img class="card-img-top" src="/images/2018-committee/members/jazz.jpg" alt="Jazz">
          <div class="card-body">
            <h1 class="card-text"><strong>Jazz Chong Wen Hui</strong><br><em>Assistant Treasurer</em></p>
          </div>
        </div>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

</div>
